services:
  fireaid_web:
    build:
      context: ./fireaid_web/
      dockerfile: docker/Dockerfile
    env_file:
      - .env
    container_name: fireaid_web
    restart: always
    ports:
      - "3000:3000"
    command: ["pnpm", "dev"]

  mongo:
    image: mongo:8.0
    container_name: mongodb
    restart: always
    command: --port 27018
    ports:
      - "27018:27018"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local
