services:
  fireaid_web:
    build:
      context: ./fireaid_web/
      dockerfile: docker/Dockerfile
    env_file:
      - .env
    environment:
      NODE_ENV: development
      MCP_HTTP_BASE: "http://firemcp:8081"
    container_name: fireaid_web
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - firemcp

  firemcp:
    build:
      context: ./FireMCP
    container_name: firemcp
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always
    ports:
      - "8081:8081"

  mongo:
    image: mongo:8.0
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local
