services:
  fireaid_web:
    build:
      context: ./fireaid_web/
      dockerfile: docker/Dockerfile
    environment:
      MONGODB_URI: "mongodb://root:password@mongo:27017/fireaid?authSource=admin"
    container_name: fireaid_web
    restart: always
    ports:
      - "3000:3000"

  mongo:
    image: mongo:8.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017" 
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local
