services:
  fireaid_web:
    build:
      context: ./fireaid_web/
      dockerfile: docker/Dockerfile
    env_file:
      - .env
      
    container_name: fireaid_web
    restart: always
    ports:
      - "3000:3000"

  term_mcp:
    build:
      context: ./mcp_server/
      dockerfile: Dockerfile
    env_file:
      - .env
    container_name: term_mcp
    restart: always
    ports:
      - "3001:3001"

  mongo:
    image: mongo:8.0
    container_name: mongodb
    restart: always
    command: --port 27018
    ports:
      - "27018:27018" 
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local
