services:
  fireaid_web:
    container_name: fireaid_web
    build:
      context: ./fireaid_web/
      dockerfile: docker/Dockerfile
    volumes:
      - ./fireaid_web/src:/var/web/src
    environment:
      MONGODB_URI: "${MONGODB_URI}"
      MCP_HTTP_BASE: "http://firemcp:8081"
    depends_on:
      - mongo
      - firemcp
    env_file:
      - .env
    restart: always
    ports:
      - "3000:3000"

  firemcp:
    build:
      context: ./FireMCP
    environment:
      MONGODB_URI: "${MONGODB_URI}"
      MCP_ALLOWED_HOSTS: "firemcp,localhost,0.0.0.0"
    depends_on:
      - mongo
    container_name: firemcp
    restart: always
    ports:
      - "8081:8081"
     
  term_mcp:
    build:
      context: ./mcp_server/
      dockerfile: Dockerfile
    env_file:
      - .env
    container_name: term_mcp
    restart: always
    ports:
      - "3001:3001"

  mongo:
    image: mongo:8.0
    container_name: mongo
    restart: always
    command: --port 27018
    ports:
      - "27018:27018" 
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_ROOT_USER}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_ROOT_PASSWORD}"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local